<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {%- include head.html -%}

  <body style="overflow-x: hidden;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-3 sidebar">
          {%- include menu.html -%}
        </div>
        <div class="col-9 contents">
          {{ content }}
        </div>
      </div>
    </div>

    <div id="overlay">
      <div class="loader-bars">
        <div class="loader-bar1"></div>
        <div class="loader-bar2"></div>
        <div class="loader-bar3"></div>
        <div class="loader-bar4"></div>
        <div class="loader-bar5"></div>
      </div>
      Carregando...
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
        $('#overlay').fadeOut()
      })
    </script>
  </body>
</html>
